.env
dist
node_modules
# Ignore all temp images
public/assets/*
!public/assets/soyjak-pointing.png
!public/assets/its-over.jpg
!public/assets/dancejak.gif
!public/assets/soyline-miami.jpeg
!public/assets/itsovertransparent.png